<h4>
  Internal server error - refreshing the page will make the error dissapear
</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">
    Note: If you are seeing this then Angular is probably not to blame (go to
    the api)
  </p>
  <p>What to do next:</p>
  <ol>
    <li>Open chrome dev tools and check failing request in network tab.</li>
    <li>Examine the request URL - what API endpoint and is it accurate</li>
    <li>
      Reproduce the problem in postman to rule out Angular. If you get the same
      error, definitely no a client error.
    </li>
  </ol>
  <p style="font-weight: bold">
    Following is the stack trace. First few lines are what caused the issue:
  </p>
  <code class="mt-5" style="background-color: whitesmoke">{{
    error.details
  }}</code>
</ng-container>
