<div *ngIf="enemy" style="padding: 1rem;">
  <div class="text-center">
    <h3>{{enemy.name}}</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <img class="m-1"
          src="{{enemy.photoUrl}}"
        />
      </div>
      <div class="col-6 text-left">
        <p>HP: {{enemy.currentHp-damageAfterArmor}}/{{enemy.maxHp}}</p>
        <p>Armor: {{enemy.armorValue}}</p>
        <p>Resitances: None</p>
        <p>Weaknesses: None</p>
      </div>
      
    </div>
  </div>
  <div class="row">
      <div class="col-10" style="vertical-align: middle">
        <input type="number" [defaultValue]="0" [(ngModel)]="damage" />
      </div>
      <div class="col-2" style="vertical-align: middle">
        <button
          class="btn btn-primary damage-counter mb-1"
          (click)="increment(5)"
        >
          +5
        </button>
        <button
          class="btn btn-primary damage-counter mb-1"
          (click)="increment(1)"
        >
          +1
        </button>
        <button
          class="btn btn-primary damage-counter mb-1"
          (click)="increment(-1)"
        >
          -1
        </button>
        <button
          class="btn btn-primary damage-counter mb-1"
          (click)="increment(-5)"
        >
          -5
        </button>
      </div>
      <button class="btn btn-danger" (click)="dealDamage()">
        Deal Damage
      </button>
    </div>
  </div>
