.bg-dark {
  background-color: #3D0000 !important;
}

/* body{
  background-color: #3D0000 !important;
}



.bg-black{
  background-color: #000000;
}

.bg-med{
  background-color: #950101;
}

.bg-light{
  background-color: #FF0000;
}

.bg-white{
  background-color: whitesmoke; 
}
*/

h4 {
  font-size: .9rem;
}

h5 {
  font-size: .85rem;
}

h6 {
  font-size: .8rem;
}

p {
  font-size: x-small;
}


div {
  padding: 0%;
}

.pad-0 {
  padding: 0px;
}

.pad-2 {
  padding: 2px;
}

.btn {
  font-size: 1vw;
  width: 100%;
  word-wrap: normal;
}

a {
  font-size: .6rem;
}

.no-padding {
  padding: 2px;
}

.center-v {
  margin-top: auto;
  margin-bottom: auto;
}

.btn-icon {
  aspect-ratio: 1/1;
  max-width: 3vw;
  padding: 0px;
}

.container {
  max-width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}




/* This is where we override the style for the angular tabs */
.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}



.nav-tabs>li.open,
.member-tabset>.nav-tabs>li:hover {
  border-bottom: 4px solid #fbcdcf;
}

.member-tabset>.nav-tabs>li.open>a,
.member-tabset>.nav-tabs>li:hover>a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset>.nav-tabs>li.open>a>i,
.member-tabset>.nav-tabs>li:hover>a>i {
  color: #a6a6a6;
}

.member-tabset>.nav-tabs>li.open .dropdown-menu,
.member-tabset>.nav-tabs>li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset>.nav-tabs>li.active {
  border-bottom: 4px solid #E95420;
  position: relative;
}

.member-tabset>.nav-tabs>li.active>a {
  border: 0 !important;
  color: #333333;
}

.member-tabset>.nav-tabs>li.active>a>i {
  color: #404040;
}

.member-tabset>.tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

/* End angular tab style */

.gallery {
  height: 600px;
}