<form
  [formGroup]="form"
  (ngSubmit)="form.valid && onSubmit()"
  autocomplete="off"
  class="m-2"
>
  <div>
    <app-text-input
      class="mt-2"
      [formControl]="$any(form.controls['text'])"
      [label]="'Text'"
    />

    <!-- output a list of errors from the API -->
    <div class="row" *ngIf="validationErrors">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">{{ error }}</li>
      </ul>
    </div>

    <div class="text-center">
      <button
        class="btn btn-success me-2"
        type="submit"
        [disabled]="!form.valid"
      >
        Create
      </button>
      <button class="btn btn-default" type="button" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
