<div *ngIf="npc">
  <div class="container card bg-box no-padding">
    <div class="no-padding m-0">
        <h1>{{ npc.name }}</h1>
        <h5 class="mb-2" style="font-style: italic;">[{{npc.dialogue.id}}] "{{ npc.dialogue.text }}"</h5>
    </div>
    
  </div>

  

  <div class="mt-2 bg-box">
    <div class="container">
      <div class="row">
        <div *ngFor="let r of npc.dialogue.responses" class="col-3 no-padding">
          <div class="card m-1 text-center bg-parchment" (click)="responseSelected(r)">
            <p class="description">[{{r.id}}] "{{ r.text }}"</p>
          </div>
        </div>

          <div class="col-3 no-padding" *ngIf="notAtMain">
            <div class="card m-1 text-center bg-parchment" (click)="backToMainDialogue()">
              <p class="description">(...back)</p>
            </div>
          </div>

          <div class="col-3 no-padding">
            <div class="card m-1 text-center bg-parchment" (click)="backToLocation()">
              <p class="description">(Exit to location)</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
