<h2>Admin Panel</h2>
<div class="tab-panel">
  <tabset class="member-tabset">
    <tab heading="Photo management" *appHasRole="['Moderator']">
      <div class="container">
        <app-photo-management></app-photo-management>
      </div>
    </tab>
    <tab heading="Adventure management" *appHasRole="['Admin']">
      <div class="container">
        <app-adventure-admin></app-adventure-admin>
      </div>
    </tab>
    <tab heading="Item Management" *appHasRole="['Admin']">
      <div class="container">
        <app-item-manager></app-item-manager>
      </div>
    </tab>
    <tab heading="User management" *appHasRole="['Admin']">
      <div class="container">
        <app-user-management></app-user-management>
      </div>
    </tab>
    
      <tab heading="Damage Calculator" *appHasRole="['Admin']">
        <div class="container">
          <app-damage-calculator></app-damage-calculator>
        </div>
      </tab>
  </tabset>
</div>
