<div *ngIf="adventure !== undefined">
  <div class="row">
    <div class="col-10">
      <h5>{{ adventure.name }}</h5>
      <span style="font-weight: bold">Description: </span
      >{{ adventure.description }}
    </div>
    <div class="col-1 text-center">
      <button
        class="btn btn-danger col-1 mt-2 mb-2 btn-icon"
        (click)="deleteAdventure()"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="row mt-1">
      <div class="row">
        <div class="col-2 no-padding">
          <button class="btn btn-primary" (click)="createLocation(adventure)">
            Add Location
          </button>
        </div>
        <div class="col-2 no-padding">
          <button
            class="col-2 btn btn-primary ms-2"
            (click)="createLocationLink()"
          >
            Add Location Link
          </button>
        </div>
      </div>
    </div>

    <div class="container">
      <div *ngFor="let l of adventure.locations" class="element-div mt-1 ms-1">
        <div class="row">
          <div class="col-10 no-padding" (click)="editLocation(l.id)">
            <h5>{{ l.name }}</h5>
            <span style="font-weight: bold">Description: </span
            >{{ l.description }}
          </div>
          <div class="col-1 no-padding text-center">
            <button
              class="btn btn-danger col-1 mt-2 mb-2 btn-icon"
              (click)="deleteLocation(l, adventure)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
