<div class="container">
  <div class="row mt-1">
    <div class="btn-group col-12" dropdown>
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="btn btn-dark dropdown-toggle"
        aria-controls="dropdown-animated"
      >
        {{
          fromLocation === undefined
            ? "Select a from location"
            : fromLocation.name
        }}<span class="caret"></span>
      </button>

      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-animated"
      >
        <li role="menuitem" *ngFor="let l of locations">
          <p
          class="m-0 ms-1 me-1"
            *ngIf="l.name !== toLocation?.name"
            (click)="setFromLocation(l)"
          >
            {{ l.roomNumber > 0 ? l.roomNumber + " - " : null }}{{ l.name }}
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-1">
    <div class="btn-group col-12" dropdown>
      <button
        id="button-animated"
        dropdownToggle
        type="button"
        class="btn btn-dark dropdown-toggle"
        aria-controls="dropdown-animated"
      >
        {{
          toLocation === undefined ? "Select a to location" : toLocation.name
        }}
        <span class="caret"></span>
      </button>
      <ul
        id="dropdown-animated"
        *dropdownMenu
        class="dropdown-menu ms-1 me-1"
        role="menu"
        aria-labelledby="button-animated"
      >
        <li role="menuitem" *ngFor="let l of locations">
          <p
            class="m-0 ms-1 me-1"
            *ngIf="l.name !== fromLocation?.name"
            (click)="setToLocation(l)"
          >
            {{ l.roomNumber > 0 ? l.roomNumber + " - " : null }}{{ l.name }}
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="btn-group">
      <div class="col-6 no-padding">
        <label
          class="btn btn-dark"
          [(ngModel)]="linkMode"
          btnRadio="Two-Way"
          tabindex="0"
          role="button"
          >Two-Way</label
        >
      </div>
      <div class="col-6 no-padding">
        <label
          class="btn btn-dark"
          [(ngModel)]="linkMode"
          btnRadio="One-Way"
          tabindex="0"
          role="button"
          >One-Way</label
        >
      </div>
    </div>
  </div>

  <div class="mb-1">
    <button
      [disabled]="!toLocation || !fromLocation"
      class="btn btn-dark"
      (click)="submit()"
    >
      Submit
    </button>
  </div>
</div>
