.card{
    padding: .25rem;
    height: 5rem;
    cursor: pointer;
}

.enemy-card{
    height: 6.75rem;
}

.card-thumbnail{
    height: 3rem;
    width: 3rem;
}

.description{
    font-style: italic;
}