<div *ngIf="location" class="m-0">
  <div class="row bg-box card">
    <div class="col-10 no-padding">
      <h4>
        {{ location.name }}
        {{
          location.roomNumber > 0
            ? "[Room - " + location.roomNumber + "]"
            : null
        }}
      </h4>
      <p class="m-1">{{ location.shortDescription }}</p>
      <p class="m-1">{{ location.description }}</p>
    </div>
    <div class="col-2 no-padding">
      <button class="btn btn-dark" (click)="getAvailableItems()">
        Show Available Items
      </button>
    </div>
  </div>

  <div *ngIf="location.connectedLocations.length > 0" class="bg-box mt-1">
    <div class="row">
      <div class="col-10"><h5 class="m-0">Connected Locations</h5></div>
      <div class="col-2">
        <button
          type="button"
          class="btn btn-dark"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseBasic"
        >
          Show Map
        </button>
      </div>
    </div>

    <div class="row">
      <div
        *ngFor="let l of location?.connectedLocations"
        class="col-3 no-padding"
      >
        <div
          class="card m-1 text-center bg-parchment"
          (click)="locationSelected(l)"
        >
          <p class="m-0">
            <strong>{{ l.name }}</strong>
            {{ l.roomNumber > 0 ? "[Room - " + l.roomNumber + "]" : null }}
          </p>
          <p class="description m-0">"{{ l.shortDescription }}"</p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
        <img
          src="../../../../assets/images/maps/sunless-citadel-fortress-level.jpg"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="mt-1 bg-box" *ngIf="location.npCs.length > 0">
    <h5 class="m-0 mt-2">NPC's</h5>
    <div class="row">
      <div *ngFor="let npc of location?.npCs" class="col-3 no-padding">
        <div
          class="card m-1 text-center bg-parchment"
          (click)="npcSelected(npc)"
        >
          <p class="m-0">
            <strong>{{ npc.name }}</strong>
          </p>
          <p class="description">"{{ npc.caption }}""</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-1 bg-box" *ngIf="location.containers.length > 0">
    <h5>Containers</h5>
    <div class="row">
      <div *ngFor="let c of location.containers" class="col-3 no-padding">
        <div
        *ngIf="location.enemies.length === 0"
          class="card m-1 text-center bg-parchment"
          (click)="containerSelected(c)"
        >
          <p class="m-0">
            <strong>{{ c.name }}</strong>
          </p>
          <p class="description">{{ c.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-1 bg-box" *ngIf="location.interactions.length > 0">
    <h5>Interactions</h5>
    <div class="row">
      <div *ngFor="let i of location.interactions" class="col-3 no-padding">
        <div class="card m-1 text-center bg-parchment" (click)="interactionSelected(i)">
          <p>
            <strong>{{ i.name }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-1 bg-box" *ngIf="location.enemies.length > 0">
    <div class="row">
      <div class="col-10 no-padding">
        <h5>Enemies</h5>
      </div>
      <div class="col-2 no-padding">
        <button class="btn btn-danger ms-1" (click)="enemyAttack()">
          Enemy Attack Phase
        </button>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let i of location.enemies" class="col-3 no-padding">
        <div
          class="card m-1 text-center bg-parchment"
          (click)="enemySelected(i)"
        >
          <div class="row m-0">
            <div class="col-2 no-padding">
              <img class="card-thumbnail" src="{{ i.photoUrl }}" />
            </div>

            <div class="col-10 no-padding">
              <h5 class="mt-0 mb-0">
                {{ i.name }}
              </h5>
              <p class="mt-0 mb-0">
                <strong>HP: </strong>{{ i.currentHp }}/{{ i.maxHp }}
              </p>
            </div>
          </div>
          <!-- <div class="col-10">
              <table style="width: 100%">
                <tbody>
                  <tr *ngIf="i.attack1BaseDamage > 0">
                    <td><strong>Attack 1: </strong>{{ i.attack1Name }}</td>
                    <td><strong>Damage: </strong>{{ i.attack1BaseDamage }}</td>
                    <td><strong>Range: </strong>{{ i.attack1Range }}</td>
                  </tr>
                  <tr *ngIf="i.attack2BaseDamage > 0">
                    <td><strong>Attack 2: </strong>{{ i.attack2Name }}</td>
                    <td><strong>Damage: </strong>{{ i.attack2BaseDamage }}</td>
                    <td><strong>Range: </strong>{{ i.attack2Range }}</td>
                  </tr>
                </tbody>
              </table>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
