.card{
    padding: .25rem;
    height: 5rem;
    cursor: pointer;
}

.card-thumbnail{
    border-radius: .25rem;
    height: 4rem;
    width: 4rem;
}

.center-vertical{
    margin-top: auto;
    margin-bottom: auto;
}
.description{
    font-style: italic;
}