<div *ngIf="container">
  <div class="row">
    <div class="col-10 no-padding">
      <h1>{{ container.name }}</h1>
    </div>
    <div class="col-2 pad-2 no-padding ">
      <button class="btn btn-dark" (click)="backToLocation()">
        Back to Location
      </button>      
    </div>
  </div>

  <div class="mt-3 row">
    <div *ngFor="let i of container.items" class="col-3">
        <div class="card m-1 text-center" [tooltip]="itemData">
          <ng-template #itemData>
            <p>Required Level: {{ i.requiredLevel }}</p>
            <p *ngIf="i.attackValue > 0">Attack: {{ i.attackValue }}</p>
            <p *ngIf="i.armorValue > 0">Armor: {{ i.armorValue }}</p>
            <p>Item Type: {{ i.itemType }}</p>
            <p>Damage Type: {{ i.damageType }}</p>
          </ng-template>
          <p>{{ i.name }}</p>
          <img src="{{ i.photoUrl }}" />
        </div>
    </div>
  </div>
</div>
