.img-thumbnail{
    height: 10vw;
    width: 10vw;
}

img{
    border-radius: .25rem;
    aspect-ratio: 1/1;
    max-height: 3vw;
    padding: 0px;
    vertical-align: top;
}

.btn{
    vertical-align: top;
}

.card{
    height: 100%;
}

app-item-card{
    height: 100%;
    width: 100%;
}

.row{
    margin: 0px;
}



.container{
    margin: 0px;
    padding: 0px;
}

td{
    font-size: .8rem;
}

td.title{
text-align: right;
}

td.value{
    text-align: center;
    width: 50%;
    white-space: nowrap;
}

button{
    display: inline;
}